body{
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Source Code Pro', sans-serif;
  color: #111111;
}

a {color: #0074D9;}
a:active, a:hover {color: #FF4136;}
/*a:visited {color: #85144B;}*/

.main{
  margin: 1rem;
  line-height: 120%;
}

.headshot{
 border:0;
 border-radius:4px;
 width: 180px;
 vertical-align: middle;
}

ul{
  margin-left:-.7rem;
}

li{
  margin: .5em 0;
}

.highlight{
  background-color: #FF4136;
  padding:4px;
}
